In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/25 11:41:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.sparkContext.uiWebUrl

'http://de-zoomcamp.australia-southeast1-b.c.western-triode-447803-t3.internal:4040'

In [8]:
!wc -l domain_properties.csv

11160 domain_properties.csv

In [10]:
df = spark.read \
    .option("header", "true") \
    .csv('domain_properties.csv')

In [13]:
df.schema

StructType([StructField('price', StringType(), True), StructField('date_sold', StringType(), True), StructField('suburb', StringType(), True), StructField('num_bath', StringType(), True), StructField('num_bed', StringType(), True), StructField('num_parking', StringType(), True), StructField('property_size', StringType(), True), StructField('type', StringType(), True), StructField('suburb_population', StringType(), True), StructField('suburb_median_income', StringType(), True), StructField('suburb_sqkm', StringType(), True), StructField('suburb_lat', StringType(), True), StructField('suburb_lng', StringType(), True), StructField('suburb_elevation', StringType(), True), StructField('cash_rate', StringType(), True), StructField('property_inflation_index', StringType(), True), StructField('km_from_cbd', StringType(), True)])

In [14]:
!head -n 1001 domain_properties.csv > head.csv

In [15]:
import pandas as pd

In [16]:
df_pandas = pd.read_csv('head.csv')

In [17]:
df_pandas.dtypes

price                         int64
date_sold                    object
suburb                       object
num_bath                      int64
num_bed                       int64
num_parking                   int64
property_size                 int64
type                         object
suburb_population             int64
suburb_median_income          int64
suburb_sqkm                 float64
suburb_lat                  float64
suburb_lng                  float64
suburb_elevation              int64
cash_rate                   float64
property_inflation_index    float64
km_from_cbd                 float64
dtype: object

In [18]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('price', LongType(), True), StructField('date_sold', StringType(), True), StructField('suburb', StringType(), True), StructField('num_bath', LongType(), True), StructField('num_bed', LongType(), True), StructField('num_parking', LongType(), True), StructField('property_size', LongType(), True), StructField('type', StringType(), True), StructField('suburb_population', LongType(), True), StructField('suburb_median_income', LongType(), True), StructField('suburb_sqkm', DoubleType(), True), StructField('suburb_lat', DoubleType(), True), StructField('suburb_lng', DoubleType(), True), StructField('suburb_elevation', LongType(), True), StructField('cash_rate', DoubleType(), True), StructField('property_inflation_index', DoubleType(), True), StructField('km_from_cbd', DoubleType(), True)])

In [19]:
from pyspark.sql import types

In [28]:
schema = types.StructType([
    types.StructField('price', types.StringType(), True), 
    types.StructField('date_sold', types.StringType(), True), 
    types.StructField('suburb', types.StringType(), True), 
    types.StructField('num_bath', types.IntegerType(), True), 
    types.StructField('num_bed', types.IntegerType(), True), 
    types.StructField('num_parking', types.IntegerType(), True), 
    types.StructField('property_size', types.IntegerType(), True), 
    types.StructField('type', types.StringType(), True), 
    types.StructField('suburb_population', types.IntegerType(), True), 
    types.StructField('suburb_median_income', types.IntegerType(), True), 
    types.StructField('suburb_sqkm', types.DoubleType(), True), 
    types.StructField('suburb_lat', types.DoubleType(), True), 
    types.StructField('suburb_lng', types.DoubleType(), True), 
    types.StructField('suburb_elevation', types.IntegerType(), True), 
    types.StructField('cash_rate', types.DoubleType(), True), 
    types.StructField('property_inflation_index', types.DoubleType(), True), 
    types.StructField('km_from_cbd', types.DoubleType(), True)
])

In [29]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('domain_properties.csv')

In [30]:
df = df.repartition(24)

In [32]:
df.write.parquet('domain2016-2021',mode='overwrite')

In [33]:
df = spark.read.parquet('domain2016-2021')

In [34]:
df.printSchema()

root
 |-- price: string (nullable = true)
 |-- date_sold: string (nullable = true)
 |-- suburb: string (nullable = true)
 |-- num_bath: integer (nullable = true)
 |-- num_bed: integer (nullable = true)
 |-- num_parking: integer (nullable = true)
 |-- property_size: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- suburb_population: integer (nullable = true)
 |-- suburb_median_income: integer (nullable = true)
 |-- suburb_sqkm: double (nullable = true)
 |-- suburb_lat: double (nullable = true)
 |-- suburb_lng: double (nullable = true)
 |-- suburb_elevation: integer (nullable = true)
 |-- cash_rate: double (nullable = true)
 |-- property_inflation_index: double (nullable = true)
 |-- km_from_cbd: double (nullable = true)

In [35]:
from pyspark.sql import functions as F

In [39]:
df = df.withColumn("date_sold", F.to_date(F.col("date_sold"), "d/M/yy"))

In [40]:
df.show()

+-------+----------+----------------+--------+-------+-----------+-------------+--------------------+-----------------+--------------------+-----------+----------+----------+----------------+---------+------------------------+-----------+-------------+
|  price| date_sold|          suburb|num_bath|num_bed|num_parking|property_size|                type|suburb_population|suburb_median_income|suburb_sqkm|suburb_lat|suburb_lng|suburb_elevation|cash_rate|property_inflation_index|km_from_cbd|date_sold_new|
+-------+----------+----------------+--------+-------+-----------+-------------+--------------------+-----------------+--------------------+-----------+----------+----------+----------------+---------+------------------------+-----------+-------------+
| 670000|2020-10-03|      Lalor Park|       1|      3|          4|          550|               House|             7667|               31200|      2.701| -33.76065| 150.93136|              77|     0.43|                   165.9|      28.27|   2020-10-03|
|1450000|2021-11-10| Berowra Heights|       1|      3|          2|          696|               House|             5264|               42848|      8.004| -33.60156|   151.136|             197|      0.1|                   220.1|      30.03|   2021-11-10|
|1501500|2021-10-07|            Ryde|       2|      2|          2|          601|               House|            26499|               39312|      7.096|  -33.8078| 151.11399|              58|      0.1|                   210.1|      10.92|   2021-10-07|
|1165000|2020-02-14|           Menai|       2|      4|          3|          658|               House|            10304|               43836|     12.944|  -34.0025| 151.00275|              66|     0.75|                   169.6|      24.47|   2020-02-14|
|2970000|2021-07-31|      Freshwater|       2|      3|          1|          597|               House|             8866|               57044|      1.782| -33.77603| 151.28481|              18|      0.1|                   210.1|      12.07|   2021-07-31|
|1900000|2021-05-29|       Denistone|       2|      3|          2|          569|               Villa|             3751|               40040|      1.508| -33.79872| 151.08981|              58|      0.1|                   197.9|      13.34|   2021-05-29|
| 485000|2017-07-21|         Toukley|       1|      3|          1|          506|               House|             4550|               25844|      3.683| -33.25799| 151.54324|               4|      1.5|                   174.2|      74.11|   2017-07-21|
|2975000|2016-10-26|        Stanmore|       3|      4|          2|          668|               House|             7938|               55484|      1.218|  -33.8937| 151.16537|              29|      1.5|                   167.6|        5.2|   2016-10-26|
|1400000|2021-03-30|      Crows Nest|       1|      2|          2|          143|Apartment / Unit ...|             4798|               70304|      0.762| -33.82557| 151.20362|              97|      0.1|                   197.9|       4.43|   2021-03-30|
|1300000|2019-10-16|      Kellyville|       3|      4|          3|          640|               House|            27971|               46228|     18.645| -33.69583| 150.95622|              78|     0.76|                   166.4|      30.08|   2019-10-16|
|3150000|2018-02-21|      Paddington|       2|      2|          2|          221|               House|            12911|               73944|      1.627| -33.88334| 151.22781|              53|      1.5|                   171.9|       2.61|   2018-02-21|
|2205000|2021-06-30| Chittaway Point|       3|      5|          4|         1646|               House|              941|               34320|      1.624| -33.32251| 151.44816|               5|      0.1|                   210.1|      64.12|   2021-06-30|
|1800000|2021-11-05|     Gladesville|       1|      3|          1|          467|               House|            11827|               48568|      3.507| -33.82789| 151.12645|              46|      0.1|                   197.9|       8.76|   2021-11-05|
| 950000|2020-02-14|Kellyville Ridge|       2|      4|          1|          354|               House|            10468|               51532|      2.707| -33.70376| 150.92052|              72|     0.75|                   169.6|      32.23|   2020-02-14|
| 610000|2021-02-22|    Mount Druitt|       2|      3|          2|          271|               House|            16726|               26000|      6.256| -33.76791|  150.8136|              48|      0.1|                   183.1|      38.24|   2021-02-22|
|1520000|2019-11-09|       Hillsdale|       3|      6|          4|          414|               House|             5501|               34736|      0.546| -33.95297| 151.22753|              20|      1.0|                   166.4|       9.88|   2019-11-09|
|1170000|2021-08-31|        Winmalee|       2|      4|          2|          733|               House|             6202|               38740|      9.058| -33.67971| 150.61119|             263|      0.1|                   210.1|      59.15|   2021-08-31|
| 815000|2017-07-25|        Prospect|       3|      5|          2|          558|               House|             4716|               37544|     13.776| -33.81244| 150.90067|              57|      1.5|                   174.2|      29.21|   2017-07-25|
| 955000|2016-10-15|        Lidcombe|       1|      3|          2|          417|               House|            19627|               27248|      6.805| -33.86491| 151.04789|              28|      1.5|                   167.6|      14.99|   2016-10-15|
|2020000|2021-03-27|        Illawong|       3|      4|          2|          815|               House|             7271|               44096|       4.76| -33.99893| 151.04011|              79|      0.1|                   197.9|       21.6|   2021-03-27|
+-------+----------+----------------+--------+-------+-----------+-------------+--------------------+-----------------+--------------------+-----------+----------+----------+----------------+---------+------------------------+-----------+-------------+
only showing top 20 rows