In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/26 11:53:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/26 11:53:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark.sparkContext.uiWebUrl

'http://de-zoomcamp.australia-southeast1-b.c.western-triode-447803-t3.internal:4041'

In [4]:
!wc -l domain_properties.csv

11160 domain_properties.csv

In [5]:
df = spark.read \
    .option("header", "true") \
    .csv('domain_properties.csv')

In [6]:
df.schema

StructType([StructField('price', StringType(), True), StructField('date_sold', StringType(), True), StructField('suburb', StringType(), True), StructField('num_bath', StringType(), True), StructField('num_bed', StringType(), True), StructField('num_parking', StringType(), True), StructField('property_size', StringType(), True), StructField('type', StringType(), True), StructField('suburb_population', StringType(), True), StructField('suburb_median_income', StringType(), True), StructField('suburb_sqkm', StringType(), True), StructField('suburb_lat', StringType(), True), StructField('suburb_lng', StringType(), True), StructField('suburb_elevation', StringType(), True), StructField('cash_rate', StringType(), True), StructField('property_inflation_index', StringType(), True), StructField('km_from_cbd', StringType(), True)])

In [7]:
!head -n 1001 domain_properties.csv > head.csv

In [8]:
import pandas as pd

In [9]:
df_pandas = pd.read_csv('head.csv')

In [10]:
df_pandas.dtypes

price                         int64
date_sold                    object
suburb                       object
num_bath                      int64
num_bed                       int64
num_parking                   int64
property_size                 int64
type                         object
suburb_population             int64
suburb_median_income          int64
suburb_sqkm                 float64
suburb_lat                  float64
suburb_lng                  float64
suburb_elevation              int64
cash_rate                   float64
property_inflation_index    float64
km_from_cbd                 float64
dtype: object

In [11]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('price', LongType(), True), StructField('date_sold', StringType(), True), StructField('suburb', StringType(), True), StructField('num_bath', LongType(), True), StructField('num_bed', LongType(), True), StructField('num_parking', LongType(), True), StructField('property_size', LongType(), True), StructField('type', StringType(), True), StructField('suburb_population', LongType(), True), StructField('suburb_median_income', LongType(), True), StructField('suburb_sqkm', DoubleType(), True), StructField('suburb_lat', DoubleType(), True), StructField('suburb_lng', DoubleType(), True), StructField('suburb_elevation', LongType(), True), StructField('cash_rate', DoubleType(), True), StructField('property_inflation_index', DoubleType(), True), StructField('km_from_cbd', DoubleType(), True)])

In [12]:
from pyspark.sql import types

In [13]:
schema = types.StructType([
    types.StructField('price', types.StringType(), True), 
    types.StructField('date_sold', types.StringType(), True), 
    types.StructField('suburb', types.StringType(), True), 
    types.StructField('num_bath', types.IntegerType(), True), 
    types.StructField('num_bed', types.IntegerType(), True), 
    types.StructField('num_parking', types.IntegerType(), True), 
    types.StructField('property_size', types.IntegerType(), True), 
    types.StructField('type', types.StringType(), True), 
    types.StructField('suburb_population', types.IntegerType(), True), 
    types.StructField('suburb_median_income', types.IntegerType(), True), 
    types.StructField('suburb_sqkm', types.DoubleType(), True), 
    types.StructField('suburb_lat', types.DoubleType(), True), 
    types.StructField('suburb_lng', types.DoubleType(), True), 
    types.StructField('suburb_elevation', types.IntegerType(), True), 
    types.StructField('cash_rate', types.DoubleType(), True), 
    types.StructField('property_inflation_index', types.DoubleType(), True), 
    types.StructField('km_from_cbd', types.DoubleType(), True)
])

In [14]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('domain_properties.csv')

In [15]:
from pyspark.sql import functions as F

In [16]:
df = df.withColumn("date_sold", F.to_date(F.col("date_sold"), "d/M/yy"))

In [17]:
df.show()

+-------+----------+-------------+--------+-------+-----------+-------------+-----------+-----------------+--------------------+-----------+----------+----------+----------------+---------+------------------------+-----------+
|  price| date_sold|       suburb|num_bath|num_bed|num_parking|property_size|       type|suburb_population|suburb_median_income|suburb_sqkm|suburb_lat|suburb_lng|suburb_elevation|cash_rate|property_inflation_index|km_from_cbd|
+-------+----------+-------------+--------+-------+-----------+-------------+-----------+-----------------+--------------------+-----------+----------+----------+----------------+---------+------------------------+-----------+
| 530000|2016-01-13|    Kincumber|       4|      4|          2|         1351|      House|             7093|               29432|      9.914| -33.47252| 151.40208|              24|      2.0|                   150.9|      47.05|
| 525000|2016-01-13|   Halekulani|       2|      4|          2|          594|      House|             2538|               24752|      1.397| -33.21772| 151.55237|              23|      2.0|                   150.9|      78.54|
| 480000|2016-01-13|Chittaway Bay|       2|      4|          2|          468|      House|             2028|               31668|      1.116| -33.32678| 151.44557|               3|      2.0|                   150.9|      63.59|
| 452000|2016-01-13|      Leumeah|       1|      3|          1|          344|      House|             9835|               32292|      4.055| -34.05375| 150.83957|              81|      2.0|                   150.9|      40.12|
| 365500|2016-01-13|  North Avoca|       0|      0|          0|         1850|Vacant land|             2200|               45084|      1.497| -33.45608| 151.43598|              18|      2.0|                   150.9|      49.98|
| 550000|2016-01-15|    Kincumber|       1|      3|          1|          626|      House|             7093|               29432|      9.914| -33.47252| 151.40208|              24|      2.0|                   150.9|      47.05|
| 535000|2016-01-15|    Bensville|       1|      3|          1|          556|      House|             2545|               36764|      4.925| -33.49914| 151.39045|              27|      2.0|                   150.9|      43.91|
| 495000|2016-01-15|      Leumeah|       1|      3|          2|          582|      House|             9835|               32292|      4.055| -34.05375| 150.83957|              81|      2.0|                   150.9|      40.12|
| 410000|2016-01-15|      Toukley|       1|      3|          3|          493|      House|             4550|               25844|      3.683| -33.25799| 151.54324|               4|      2.0|                   150.9|      74.11|
| 242500|2016-01-15|     Winmalee|       0|      0|          0|         1248|Vacant land|             6202|               38740|      9.058| -33.67971| 150.61119|             263|      2.0|                   150.9|      59.15|
|6500000|2016-01-16|  Point Clare|       1|      3|          2|          742|      House|             3731|               31772|      3.336| -33.44017| 151.31715|              62|      2.0|                   150.9|      48.17|
| 890000|2016-01-18| Picnic Point|       2|      4|          3|          715|      House|             6160|               40560|      3.859| -33.97301| 151.00632|              33|      2.0|                   150.9|      22.31|
| 533000|2016-01-18|       Whalan|       3|      4|          2|          695|      House|             5973|               24180|      2.429| -33.75572| 150.80361|              37|      2.0|                   150.9|      39.53|
|1120500|2016-01-19|  North Rocks|       2|      4|          2|          904|      House|             7965|               40092|      5.462| -33.77572| 151.01474|              92|      2.0|                   150.9|      20.61|
| 830000|2016-01-19|     Winmalee|       3|      6|          2|         2109|      House|             6202|               38740|      9.058| -33.67971| 150.61119|             263|      2.0|                   150.9|      59.15|
| 675000|2016-01-19|    Bass Hill|       3|      3|          2|          263|  Townhouse|             9069|               24388|      2.929| -33.90028| 150.99309|              40|      2.0|                   150.9|      20.43|
| 500000|2016-01-19|    Kincumber|       1|      3|          1|          791|      House|             7093|               29432|      9.914| -33.47252| 151.40208|              24|      2.0|                   150.9|      47.05|
| 473000|2016-01-19|      Leumeah|       1|      3|          3|          581|      House|             9835|               32292|      4.055| -34.05375| 150.83957|              81|      2.0|                   150.9|      40.12|
| 885000|2016-01-20| Picnic Point|       1|      3|          2|          557|Vacant land|             6160|               40560|      3.859| -33.97301| 151.00632|              33|      2.0|                   150.9|      22.31|
| 625000|2016-01-20|Chittaway Bay|       2|      4|          2|          555|      House|             2028|               31668|      1.116| -33.32678| 151.44557|               3|      2.0|                   150.9|      63.59|
+-------+----------+-------------+--------+-------+-----------+-------------+-----------+-----------------+--------------------+-----------+----------+----------+----------------+---------+------------------------+-----------+
only showing top 20 rows

In [18]:
df = df.repartition(24)

In [19]:
df.write.parquet('domain2016-2021',mode='overwrite')

In [20]:
df = spark.read.parquet('domain2016-2021')

In [21]:
df.printSchema()

root
 |-- price: string (nullable = true)
 |-- date_sold: date (nullable = true)
 |-- suburb: string (nullable = true)
 |-- num_bath: integer (nullable = true)
 |-- num_bed: integer (nullable = true)
 |-- num_parking: integer (nullable = true)
 |-- property_size: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- suburb_population: integer (nullable = true)
 |-- suburb_median_income: integer (nullable = true)
 |-- suburb_sqkm: double (nullable = true)
 |-- suburb_lat: double (nullable = true)
 |-- suburb_lng: double (nullable = true)
 |-- suburb_elevation: integer (nullable = true)
 |-- cash_rate: double (nullable = true)
 |-- property_inflation_index: double (nullable = true)
 |-- km_from_cbd: double (nullable = true)