In [15]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [16]:
df = spark.read.parquet('domain2016-2021/*')

In [17]:
df = df.withColumnRenamed('price','price_sold')

In [18]:
df.printSchema()

root
 |-- price_sold: string (nullable = true)
 |-- date_sold: date (nullable = true)
 |-- suburb: string (nullable = true)
 |-- num_bath: integer (nullable = true)
 |-- num_bed: integer (nullable = true)
 |-- num_parking: integer (nullable = true)
 |-- property_size: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- suburb_population: integer (nullable = true)
 |-- suburb_median_income: integer (nullable = true)
 |-- suburb_sqkm: double (nullable = true)
 |-- suburb_lat: double (nullable = true)
 |-- suburb_lng: double (nullable = true)
 |-- suburb_elevation: integer (nullable = true)
 |-- cash_rate: double (nullable = true)
 |-- property_inflation_index: double (nullable = true)
 |-- km_from_cbd: double (nullable = true)

In [19]:
df.registerTempTable('domain')

In [20]:
spark.sql("""
SELECT
    type,
    count(1)
FROM
    domain
GROUP BY 
    type
""").show()

+--------------------+--------+
|                type|count(1)|
+--------------------+--------+
|           Townhouse|     211|
|       Semi-Detached|     170|
|              Studio|       5|
|            New land|       3|
|               Villa|     114|
|    Development Site|       7|
|Apartment / Unit ...|     688|
|               House|    9583|
|New Apartments / ...|       9|
|      Block of Units|      37|
|    New House & Land|      15|
|             Terrace|      63|
|         Vacant land|     163|
|Acreage / Semi-Rural|      21|
|              Duplex|      67|
|               Rural|       4|
+--------------------+--------+

In [24]:
df_result = spark.sql("""
SELECT 
    -- Grouping 
    suburb,
    type,
    date_trunc('month', date_sold) AS month_sold,
 
    -- Aggregation 
    AVG(price_sold) AS avg_price_sold,
    count(1) AS quantity_sold,
    AVG(suburb_population) AS suburb_population,
    AVG(suburb_median_income) AS suburb_median_income,
    AVG(cash_rate) AS cash_rate

FROM
    domain
GROUP BY
    1, 2, 3
""")

In [25]:
df_result.show()

+------------------+--------------------+-------------------+------------------+-------------+-----------------+--------------------+-------------------+
|            suburb|                type|         month_sold|    avg_price_sold|quantity_sold|suburb_population|suburb_median_income|          cash_rate|
+------------------+--------------------+-------------------+------------------+-------------+-----------------+--------------------+-------------------+
|      Melrose Park|               House|2016-10-01 00:00:00|         2620000.0|            1|           1574.0|             41028.0|                1.5|
|         Girraween|               House|2018-04-01 00:00:00|          695000.0|            1|           5590.0|             35152.0|                1.5|
|             Menai|               House|2021-10-01 00:00:00|         1567000.0|            1|          10304.0|             43836.0|                0.1|
|            Sydney|Apartment / Unit ...|2016-12-01 00:00:00|         2020000.0|            1|          17252.0|             35412.0|                1.5|
|    Killarney Vale|               House|2016-02-01 00:00:00| 482666.6666666667|            3|           7216.0|             30108.0|                2.0|
|         Brookvale|Apartment / Unit ...|2021-06-01 00:00:00|         1135000.0|            1|           3161.0|             47320.0|                0.1|
|           Dee Why|               House|2019-12-01 00:00:00|         1745000.0|            1|          21518.0|             44980.0|               0.76|
|  South Turramurra|               House|2021-02-01 00:00:00|1993666.6666666667|            3|           3084.0|             44772.0|0.10000000000000002|
|   Point Frederick|               House|2020-01-01 00:00:00|         2325000.0|            1|           1927.0|             36868.0|               0.75|
|             Erina|               House|2021-11-01 00:00:00|         1950000.0|            2|           4774.0|             28340.0|                0.1|
|       North Avoca|               House|2021-08-01 00:00:00|1403333.3333333333|            3|           2200.0|             45084.0|0.10000000000000002|
|           Penrith|Apartment / Unit ...|2020-07-01 00:00:00|          437500.0|            2|          13295.0|             32240.0|               0.25|
|         Blacktown|               House|2021-11-01 00:00:00|1160428.5714285714|            7|          47176.0|             31980.0|0.09999999999999999|
|        East Hills|               House|2021-10-01 00:00:00|         2230375.0|            4|           3206.0|             34268.0|                0.1|
|          Westmead|               House|2021-11-01 00:00:00|         1583000.0|            1|          16309.0|             40040.0|                0.1|
|          Sylvania|               Villa|2017-09-01 00:00:00|          777000.0|            1|          10479.0|             37284.0|                1.5|
|          Glenwood|               House|2017-01-01 00:00:00|          955000.0|            3|          16130.0|             40820.0|                1.5|
|West Pennant Hills|               House|2019-12-01 00:00:00|         1285000.0|            1|          16374.0|             45500.0|                1.5|
|           Toukley|               House|2021-10-01 00:00:00|         1186174.0|            3|           4550.0|             25844.0|0.10000000000000002|
|       Bella Vista|               House|2019-09-01 00:00:00|         1808000.0|            1|           7837.0|             43784.0|                1.0|
+------------------+--------------------+-------------------+------------------+-------------+-----------------+--------------------+-------------------+
only showing top 20 rows

In [26]:
df_result.coalesce(1).write.parquet('domain2016-2021/report/',mode='overwrite')